@import url('https://fonts.googleapis.com/css?family=Fjalla+One');



    * {
        box-sizing: border-box;
    }

    body {
        margin: auto;
        font-family: 'Fjalla One', sans-serif;
        background: ivory;
        min-height: 1rem;
        margin-bottom: 6.5rem;

    }

    .wrapper {
        display: flex;
        flex-direction: column;
        background: yellow;
        width: 100%;
        height: 100%;

    }

    .header {
        display: flex;
        flex-direction: column;
        background-color: #9A0002;
        margin: auto;
        width: 100%;
    }

    .header h1 {
        margin: auto;
        text-align: center;
        color: ivory;
        font-size: 3.125em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #9A0002;

    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: ivory;
        text-align: center;
        padding: 2px 16px;
        text-decoration: none;
        font-size: 3vh;
    }

    li a:hover {
        background-color: #111;
    }

    .rad {
        display: flex;
        padding-top: 5rem;
        padding-left: 2rem;
        justify-content: space-around;
    }

    .flex-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 47rem;

    }

    .flex-image img {
        max-width: 90%;
        height: auto;
        justify-content: center;
    }

    .flex-text {
        display: flex;
        flex: 1;
        max-width: 50%;
        flex-direction: column;

    }

    .flex-text h2 {
        text-align: center;
    }

    #slideshow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

    }

    .image_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;


    }

    .image_container img {
        display: flex;
        max-width: 100%;
        height: auto;
    }

    .slides {
        display: none;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9A0002;
        font-size: 3rem;
        text-decoration: underline #9A0002;
    }

    #liste {
        display: flex;
    }

    #map {
        display: flex;

        width: auto;
        height: 20rem;
    }

    #lekeplassliste {
        display: flex;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9A0002;
        height: 3rem;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    footer p {
        display: flex;
        color: ivory;
        font-size: 3vh;

    }



@media handheld and (max-width: 568px) {
    * {
        box-sizing: border-box;
    }

    body {
        margin: auto;
        font-family: 'Fjalla One', sans-serif;
        background: ivory;

    }

    .wrapper {
        display: flex;
        flex-direction: column;

    }

    #header {
        background-color: #9A0002;
        margin: auto;
        width: 100%;
    }

    #header h1 {
        margin: auto;
        text-align: center;
        color: ivory;
        font-size: 3.125em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #9A0002;

    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: ivory;
        text-align: center;
        padding: 2px 16px;
        text-decoration: none;
        font-size: 3vh;
    }

    li a:hover {
        background-color: #111;
    }

    .rad {
        display: flex;
        padding-top: 5rem;
        padding-left: 2rem;
        justify-content: space-around;
    }

    .flex-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 47rem;

    }

    .flex-image img {
        max-width: 95%;
        height: auto;
        justify-content: center;
    }

    .flex-text {
        display: flex;
        flex: 1;
        max-width: 50%;
        flex-direction: column;

    }

    .flex-text h2 {
        text-align: center;
    }

    #slideshow {
        height: auto;
        width: 100vw;

    }

    .image_container {
        max-width: 100vw;
        position: relative;
        top: 5vh;

        margin: auto;
    }

    .image_container img {
        width: 55vw;
        float: right;

    }

    .slides {
        display: none;
    }

    .text {
        max-width: 50vh;
        position: absolute;
        top: 7.5vh;
        left: 7.5vw;
        color: #9A0002;
        font-size: 10vh;
        text-align: center;

    }

    #show {
        display: flex;

    }

    #map {
        height: 45vh;
        width: 100%;
        margin: auto;
    }

    footer {
        background-color: #9A0002;
        bottom: 0;
        height: 4vh;
        width: 100%;
        text-align: center;
        position: fixed;
        padding-bottom: 50px;

    }

    footer p {
        color: ivory;
        font-size: 3vh;
        margin-top: 1.5vh;
    }
}